.carousel-item {
    height: 25rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none ;
    color:black;
}

.card:hover {
    border: 1px solid #a8a8a8;
    z-index: 12;
}

.product{
    border-bottom:1px solid #a8a8a8;
}

.product-img img{
    object-fit: contain !important;

}

.total-price{
    border-top:1px solid #a8a8a8;
}